@import "./atlantis.scss";
$color_1: #181C2B;
$color_2: #1492E6;
$color_3: #fff;
$color_4: #686F74;
$font_family_1: 'Quicksand', sans-serif;
$background_color_1: #FA5A5D;
$background_color_2: #DC2E32;
$background_color_3: transparent;
$background_color_4: #f3f8fe;
$background_color_5: #e7ecf2;
$background_color_6: rgb(255 255 255 / 50%);
$background_color_7: #000;
$background_color_8: #1492E6;
$background_color_9: white;
$background_color_10: #fff;
$border_color_1: #DC2E32;
$border_color_2: #FA5A5D;
$border_color_3: #fff;

/*-- Element - Customzied --*/

html {
	scroll-behavior: smooth;
	height: 100%;
}
body {
	scroll-behavior: smooth;
	font-family: 'Quicksand', sans-serif!important;
	color: $color_1;
	font-size: 1rem;
}
a {
	color: $color_2;
}
.btn {
	border: 2px solid transparent;
	font-weight: 600;
	&:focus {
		box-shadow: none;
	} 
}
/*.btn-primary {
	background-color: $background_color_1;
	box-shadow: 0px 8px 20px rgb(0 0 0 / 20%);
	&:hover {
		background-color: $background_color_2;
		box-shadow: 0px 8px 20px rgb(197 0 20 / 34%);
		border-color: $border_color_1;
	}
	&:focus {
		background-color: $background_color_2;
		box-shadow: 0px 8px 20px rgb(197 0 20 / 34%);
		border-color: $border_color_1;
	}
	&:active {
		background-color: $background_color_2;
		box-shadow: 0px 8px 20px rgb(197 0 20 / 34%);
		border-color: $border_color_1;
		&:focus {
			box-shadow: 0 0 0 0.2rem rgb(197 0 20 / 34%);
		}
	}
}*/
.btn-check {
	&:active & + .btn-primary {
		&:focus {
			box-shadow: 0 0 0 0.2rem rgb(197 0 20 / 34%);
		}
	}
	&:checked &+.btn-primary {
		&:focus {
			box-shadow: 0 0 0 0.2rem rgb(197 0 20 / 34%);
		}
	}
	&:focus &+.btn {
		box-shadow: none;
	}
}
.btn-primary.active {
	&:focus {
		box-shadow: 0 0 0 0.2rem rgb(197 0 20 / 34%);
	}
}
.show {
	>.btn-primary.dropdown-toggle {
		&:focus {
			box-shadow: 0 0 0 0.2rem rgb(197 0 20 / 34%);
		}
	}
}
.btn-gradient {
	background: #2687dc;
	background: -moz-linear-gradient(left, #2687dc 0%, #3CC0FB 100%);
	background: -webkit-linear-gradient(left, #2687dc 0%,#3CC0FB 100%);
	background: linear-gradient(to right, #2687dc 0%,#3CC0FB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2687dc', endColorstr='#3CC0FB',GradientType=1 );
	padding: .375rem 1.3rem;
	box-shadow: 0px 8px 20px rgb(0 0 0 / 20%);
	color: $color_3;
	border: none;
	position: relative;
	background-clip: padding-box;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		margin: -2px;
		border-radius: inherit;
		background: #2687dc;
		background: -moz-linear-gradient(left, #2687dc 0%, #4ac7ff 100%);
		background: -webkit-linear-gradient(left, #2687dc 0%,#4ac7ff 100%);
		background: linear-gradient(to right, #2687dc 0%,#4ac7ff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2687dc', endColorstr='#4ac7ff',GradientType=1 );
	}
	&:hover {
		background: #2687dc;
		background: -moz-linear-gradient(left, #0973CF 0%, #17A9EB 100%);
		background: -webkit-linear-gradient(left, #0973CF 0%,#17A9EB 100%);
		background: linear-gradient(to right, #0973CF 0%,#17A9EB 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0973CF', endColorstr='#17A9EB',GradientType=1 );
		box-shadow: 0 6px 20px rgb(28 140 216 / 49%);
		color: $color_3;
	}
	&:focus {
		background: #2687dc;
		background: -moz-linear-gradient(left, #0973CF 0%, #17A9EB 100%);
		background: -webkit-linear-gradient(left, #0973CF 0%,#17A9EB 100%);
		background: linear-gradient(to right, #0973CF 0%,#17A9EB 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0973CF', endColorstr='#17A9EB',GradientType=1 );
		box-shadow: 0 6px 20px rgb(28 140 216 / 49%);
		color: $color_3;
	}
	&:active {
		background: #2687dc;
		background: -moz-linear-gradient(left, #0973CF 0%, #17A9EB 100%);
		background: -webkit-linear-gradient(left, #0973CF 0%,#17A9EB 100%);
		background: linear-gradient(to right, #0973CF 0%,#17A9EB 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0973CF', endColorstr='#17A9EB',GradientType=1 );
		box-shadow: 0 6px 20px rgb(28 140 216 / 49%);
		color: $color_3;
	}
}
.btn-rounded {
	border-radius: 30px !important;
}
.btn-bordered {
	border: solid 2px #181C2B;
	background-color: $background_color_3;
}
.btn-danger {
	color: $color_3;
	background-color: $background_color_1;
	border-color: $border_color_2;
	&:hover {
		color: $color_3;
		background-color: $background_color_2;
		border-color: $border_color_1;
	}
}
.form-control {
	border-radius: 25px !important;
}
.form-control-lg {
	border-radius: 30px !important;
	min-height: calc(2em + 1rem + 2px);
	font-size: 1rem!important;
	border-width: 2px;
	&:focus {
		box-shadow: 0 7px 20px rgba(15 53 97 / 10%);
	}
}
button {
	&:focus {
		outline: none !important;
	}
}
.text-primary {
	color: $color_2;
}
.h1 {
	margin-top: 0;
	margin-bottom: .8rem;
	line-height: 1.3;
}
.h2 {
	margin-top: 0;
	margin-bottom: .8rem;
	line-height: 1.3;
}
.h3 {
	margin-top: 0;
	margin-bottom: .8rem;
	line-height: 1.3;
}
.h4 {
	margin-top: 0;
	margin-bottom: .8rem;
	line-height: 1.3;
}
.h5 {
	margin-top: 0;
	margin-bottom: .8rem;
	line-height: 1.3;
}
.h6 {
	margin-top: 0;
	margin-bottom: .8rem;
	line-height: 1.3;
}
/*h1 {
	margin-top: 0;
	margin-bottom: .8rem;
	line-height: 1.3;
}
h2 {
	margin-top: 0;
	margin-bottom: .8rem;
	line-height: 1.3;
}
h3 {
	margin-top: 0;
	margin-bottom: .8rem;
	line-height: 1.3;
}
h4 {
	margin-top: 0;
	margin-bottom: .8rem;
	line-height: 1.3;
}
h5 {
	margin-top: 0;
	margin-bottom: .8rem;
	line-height: 1.3;
}
h6 {
	margin-top: 0;
	margin-bottom: .8rem;
	line-height: 1.3;
}*/
.userenter-container {
	display: flex;
	justify-content: space-between;
	align-content: stretch;
	min-height: 100vh; 
	background-color: $background_color_4;

	@media screen and (min-width:1200px) and (max-width:1400px)
	{
		min-height: 780px;
	}
	@media screen and (max-width:767px)
	{
		height: inherit;
		min-height: 100vh;
	}
}

.signup--form .has-error {
    font-size: 12px;
    line-height: 14px;
}
.userenter-col-right {
	flex: 0 0 40%;
	max-width: 40%;
	background-image: url('src/assets/img/images/userentry-bg.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
	background-color: $background_color_5;
}
.userenter-inner-wrap {
	display: flex;
	position: relative;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	height: 100%;
	text-align: center;
	width: calc(100% - 25px);
	margin: 0 auto;

	@media screen and (max-width:767px)
	{
		width: calc(100% - 35px);
	}

	.brand-logo {
		position: absolute;
		top: 2rem;
		font-weight: bold;
		text-align: center;
		width: 100%;
		font-size: 2rem;
		a {
			display: inline-block;
			text-decoration: none;
		}
	}
}
.userenter-body {
	h1 {
		font-size: 2.5rem;
		margin-top: 60px;

		@media screen and (max-width:767px)
		{
			font-size: 1.5rem!important;
		}
		span {
			font-weight: bold;
		}
	}
}
.userenter-col-left {
	flex: 0 0 60%;
	max-width: 60%;
	position: relative;
}
.tutor--signup_banner {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	justify-content: center;
	overflow: hidden;
	display: flex;
	align-items: center;
	img {
		height: 100%;
		width: auto;
		position: absolute;
		right: 0;
		top: 0;
	}
}
.signup-nav {
	margin-bottom: 1.2rem;
	.nav {
		justify-content: center;
		display: inline-flex;
		border: solid 1px #ddd;
		position: relative;
		background-color: $background_color_6;
	}
	.nav-pills {
		.nav-link {
			display: block;
			padding: .8rem 2.5rem;
			min-width: 220px;
			color: $color_4;
			font-weight: bold;
			@media screen and (min-width:1200px)
			{
				font-size:1.15rem;
			}

		}
		.nav-link.active {
			color: $color_3;
			background-color: $background_color_8;
		}
	}
}


.signup--form {
	max-width: 450px;
	margin: 0 auto;
	font-size: .9rem;
	p {
		font-size: .95rem;
		margin-bottom: 8px; 
		font-weight:500;
	}
	.password-strenth {
		margin-top: 8px;
		font-size: .8rem;
		color: $color_4;
		text-align: left;
		.progress {
			height: .5rem;
			background-color: $background_color_9;
		}
	}
}
.social-entry_wrap {
	margin-top: 16px;
	z-index: 9;
	position: relative;
	@media screen and (max-width:767px)
	{
		margin-top: 0px;
	}
}
.social-btns {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	.dvdr {
		height: 30px;
		width: 1px;
		background-color: $background_color_7;
		opacity: .3;
		margin: 0 15px;
	}
	a 
	{
		//margin-right: 6px;
		cursor: pointer;

		img 
		{
			width: 25px;
    		height: auto;
		}

		&:hover 
		{
			opacity: .5;
		}
	}
}
.view-password {
	position: absolute;
	right: 32px;
	top: 12px;
	z-index: 1;
	opacity: .45;
	transition: all ease .3s;
	cursor: pointer;

	&:hover
	{
		img 
		{
			filter: brightness(2) invert(1);
		}
	}
	img {
		width: 23px;
	}
}
.view-password.active {
	opacity: 1;
}
.signupagree {
	font-size: .8rem;
	margin-top: 15px;
	font-weight: 500;
}
.haveaccount {
	font-size: 1rem;
	margin-top: 10px;
	font-weight: 500;
}
.input-icn {
	position: absolute;
	left: 36px;
	top: 12px;
}
.login_form {
	.form-control {
		padding-left: 60px!important;

		@media screen and (max-width:767px)
		{
			padding-left: 40px!important;
		}
	}
	.btn 
	{
		font-size: 1.25rem;
		padding: .5rem 1rem;
	}
	
}
.signup--form
{
	.btn 
	{
		font-size: 1.25rem;
		padding: .5rem 1rem;
	}
}
.form-check
{
	padding-left: 1.75em;
}
.form-check-input {
	position: relative!important;
	left: inherit!important;
    width: 1.25em;
    height: 1.25em;
	margin-top: 2px;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    transition: background-color .15s ease-in-out,background-position .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-check-input[type=checkbox] {
    border-radius: .25em;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.75em;
}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.form-check-input:after {
	content: "";
	position: absolute;
	display: none;
  }
.form-check-input:checked::after
{
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-check-input:checked[type=checkbox] {
    background-image: url(src/assets/img/check1.svg);
}


.userenter-body .checkbox_btn
{
	display: inline-block;
	width:auto;
	position: relative;
}



.mt-20
{
	margin-top: 16px;
}
.userenter__footer {
	position: absolute;
	bottom: 0;
	background-image: url(src/assets/img/images/svg/login-ftr-bg.svg);
	background-size: 100% auto;
	background-position: bottom;
	min-height: 261px;
	z-index: 1;
	left: 0;
	background-repeat: no-repeat;
	width: calc(100% + 25px);
	margin-left: -13px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 0 0 20px 48px;
	color: $color_3;
	@media screen and (max-width:767px)
	{
		min-height: 100px!important;
		position: relative;
	}
	h3 {
		font-size: 1.4rem;

		@media screen and (max-width:767px)
		{
			font-size: 16px!important;
		}
		span {
			font-weight: bold;
		}
	}
}
.btn-register {
	border-color: $border_color_3;
	color: $color_3;
	padding-left: 2rem;
	padding-top: .375rem;
	padding-bottom: .375rem;
	padding-right: 2rem;
	margin-right: 20px;
	font-size: 1rem;

	@media screen and (max-width:767px)
	{
		font-size: 12px!important;
	}
	&:hover {
		background-color: $background_color_10;
		color: $color_1;
	}
}
.with--footer {
	margin-bottom: 6rem;
	@media screen and (max-width:767px)
	{
		margin-bottom: 2rem;
	}
}
.forgotpasswrd {
	text-align: right;
	font-weight: 500;
}
@media (min-width: 1200px) {
	body {
		font-size: 1.15rem;
	}
	
}
@media (max-width: 1366px) {
	.container {
		max-width: 95%;
	}
	.userenter__footer {
		background-size: 107% auto;
		padding: 0 0 20px 17px;
	}
	.tutor--signup_banner {
		img {
			right: -26%;
		}
	}
	.allcategries-bg {
		width: 99%;
	}
	.tutor-card-col {
		padding: 1.2rem;
	}
	.signup-nav {
		.nav-pills {
			.nav-link {
				padding: .8rem 2rem;
				min-width: 180px;
			}
		}
	}
}
@media (max-width: 1200px) {
	.container {
		max-width: 100%;
	}
}

@media (max-width: 1500px) {
	.userenter-col-right {
		flex: 0 0 45%;
		max-width: 45%;
	}
	.userenter-col-left {
		flex: 0 0 55%;
		max-width: 55%;
	}
	.signup-nav {
		.nav-pills {
			.nav-link {
				padding: .8rem 2rem;
				min-width: 200px;
			}
		}
	}
	.userenter__footer {
		background-size: 120% auto;
	}
} 
@media (max-width: 1199px) { 
	.userenter__footer {
		background-size: 166% auto;
		padding: 0 0 20px 17px;
		background-position: -62px 37px;
		h3 {
			font-size: 1.2rem;
		}
	}
	.btn-register {
		padding-left: 1rem;
		padding-right: 1rem;
		margin-right: 10px;
		font-size: .9rem;
	}
	.tutor--signup_banner {
		img {
			right: -50%;
		}
	}
	.signup-nav {
		.nav-pills {
			.nav-link {
				padding: 0.5rem 1.6rem;
				min-width: 152px;

				@media screen and (max-width:567px)
				{
					min-width: 125px!important;
				}
			}
		}
	}
	.haveaccount {
		margin-top: 8px;
	}
	.signupagree {
		font-size: .7rem;
		margin-top: 10px;
	}
	.signup--form {
		.g-3 {
			--bs-gutter-y: .7rem;
			--bs-gutter-x: .3rem;
		}
		max-width: 400px;
		margin: 0 auto;
	}
	.userenter-inner-wrap {
		.brand-logo {
			top: 1rem;
		}
	}
}
@media only screen and (max-width: 1200px) and (orientation: landscape) {
	.userenter__footer {
		background-size: 156% auto;
		padding: 0 0 20px 17px;
		background-position: -43px 44px;
	}
}
@media only screen and (max-width: 1200px) and (orientation: portrait) {
	.userenter__footer {
		background-size: 150% auto;
		padding: 0 0 20px 84px;
		background-position: -36px 34px;
	}
}
@media (max-width: 991px) {
	.haveaccount {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.btn-group-lg {
		>.btn {
			padding: .4rem 1rem;
			font-size: 1rem;
		}
	}
	.btn-lg {
		padding: .4rem 1rem;
		font-size: 1rem;
	}
	.subscribe-wrap {
		margin-top: 0;
	}
	.site-header {
		.navbar-light {
			.navbar-toggler {
				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
		}
	}
	.userenter__footer {
		background: #2687dc;
		background: -moz-linear-gradient(left, #2687dc 0%, #3CC0FB 100%);
		background: -webkit-linear-gradient(left, #2687dc 0%,#3CC0FB 100%);
		background: linear-gradient(to right, #2687dc 0%,#3CC0FB 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2687dc', endColorstr='#3CC0FB',GradientType=1 );
		min-height: 138px;
		align-items: center;
		padding-left: 0;
		.d-flex {
			justify-content: center;
		}
	}
	.signup--form {
		.form-control-lg {
			min-height: calc(1.5em + 1rem + 2px);
			font-size: .9rem;
		}
	}
	.input-icn {
		left: 35px;
		top: 11px;
		width: .89rem;
	}
	.view-password {
		top: 9px;
	}
	/*.userenter-container {
		height: 100%;
	}*/
	.mr_16
	{
		margin-top: 16px;
	}
	.userenter-col-right {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.userenter-col-left {
		display: none;
	}
	html {
		height: 100%;
	}
	body {
		height: 100%;
	}
}


@media (max-width: 767px) {
	.userenter-col-left {
		display: none;
	}
	.userenter-col-right {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.htw-tutor-col {
		padding-right: 0;
		background: #2687dc;
		background: -moz-linear-gradient(left, #2687dc 0%, #3CC0FB 100%);
		background: -webkit-linear-gradient(left, #2687dc 0%,#3CC0FB 100%);
		background: linear-gradient(to right, #2687dc 0%,#3CC0FB 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2687dc', endColorstr='#3CC0FB',GradientType=1 );
		padding-top: 31px;
		padding-bottom: 33px;
		margin-bottom: 30px;
		border-radius: 20px 20px 0 0;
	}
	.getstarted-section {
		text-align: center;
		h3 {
			margin-bottom: 22px;
			font-size: 1.2rem;
		}
	}
	.contactus-section {
		text-align: center;
		h3 {
			margin-bottom: 22px;
			font-size: 1.2rem;
		}
	}
	.tutor-card-col {
		&:nth-child(2) {
			transform: translateY(0);
		}
		&:nth-child(5) {
			transform: translateY(0);
		}
		&:nth-child(7) {
			transform: translateY(0);
		}
		&:nth-child(3) {
			transform: translateY(0);
		}
		&:nth-child(6) {
			transform: translateY(0);
		}
	}
	.explore-btn {
		margin-top: 30px;
	}
}


// html,
// body {
//   scroll-behavior: smooth;
// }
// body {
//     font-family: 'Quicksand', sans-serif;
//     color: #181C2B;
//     font-size: 1rem;
// }
// @media (min-width: 1200px) {
//     body {
//         font-size: 1.15rem;
//     }
// }

// a {
//     color: #1492E6;
// }

// /*-- Element - Customzied --*/
// .btn {
//     border: 2px solid transparent;
//     font-weight: 600;
// }
// .btn-primary {
//     background-color: #FA5A5D;
//     box-shadow: 0px 8px 20px rgb(0 0 0 / 20%);
// }
// .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
//     background-color: #DC2E32;
//     box-shadow: 0px 8px 20px rgb(197 0 20 / 34%);
//     border-color: #DC2E32;
// }
// .btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
//     box-shadow: 0 0 0 0.2rem rgb(197 0 20 / 34%);
// }
// .btn-gradient {
//     background: #2687dc;
//     background: -moz-linear-gradient(left,  #2687dc 0%, #3CC0FB 100%); /* FF3.6-15 */
//     background: -webkit-linear-gradient(left,  #2687dc 0%,#3CC0FB 100%); /* Chrome10-25,Safari5.1-6 */
//     background: linear-gradient(to right,  #2687dc 0%,#3CC0FB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2687dc', endColorstr='#3CC0FB',GradientType=1 ); /* IE6-9 */
//     padding: .375rem 1.3rem;
//     box-shadow: 0px 8px 20px rgb(0 0 0 / 20%);
//     color: #fff;
//     border: none;
//     position: relative;
//     background-clip: padding-box;
// }
// .btn-gradient:before {
//     content: '';
//     position: absolute;
//     top: 0; right: 0; bottom: 0; left: 0;
//     z-index: -1;
//     margin: -2px; /* !importanté */
//     border-radius: inherit; /* !importanté */
//     background: #2687dc; /* Old browsers */
//     background: -moz-linear-gradient(left,  #2687dc 0%, #4ac7ff 100%); /* FF3.6-15 */
//     background: -webkit-linear-gradient(left,  #2687dc 0%,#4ac7ff 100%); /* Chrome10-25,Safari5.1-6 */
//     background: linear-gradient(to right,  #2687dc 0%,#4ac7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2687dc', endColorstr='#4ac7ff',GradientType=1 ); /* IE6-9 */
// }
// .btn-gradient:hover, .btn-gradient:focus, .btn-gradient:active {
//     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2687dc+0,3cc0fb+100 */
//     background: #2687dc; /* Old browsers */
//     background: -moz-linear-gradient(left,  #0973CF 0%, #17A9EB 100%); /* FF3.6-15 */
//     background: -webkit-linear-gradient(left,  #0973CF 0%,#17A9EB 100%); /* Chrome10-25,Safari5.1-6 */
//     background: linear-gradient(to right,  #0973CF 0%,#17A9EB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0973CF', endColorstr='#17A9EB',GradientType=1 ); /* IE6-9 */
//     box-shadow: 0 6px 20px rgb(28 140 216 / 49%);
//     color: #fff;
// }
// .btn-rounded {
//     border-radius: 30px !important;
// }
// .btn-bordered {
//     border: solid 2px #181C2B;
//     background-color: transparent;
// }
// .btn-danger {
//     color: #fff;
//     background-color: #FA5A5D;
//     border-color: #FA5A5D;
// }

// .btn-danger:hover {
//     color: #fff;
//     background-color: #DC2E32;
//     border-color: #DC2E32;
// }
// .form-control {
//     border-radius: 25px !important;
// }
// .form-control-lg {
//     border-radius: 30px !important;
//     min-height: calc(2em + 1rem + 2px);
//     font-size: 1rem;
//     border-width: 2px;
// }
// .form-control-lg:focus {
//     box-shadow: 0 7px 20px rgba(15 53 97 / 10%);
// }
// button:focus {
//     outline: none !important;
// }
// .btn-check:focus+.btn, .btn:focus {
//     box-shadow: none;
// }
// .text-primary {
//     color: #1492E6 !important;
// }
// .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
//     margin-top: 0;
//     margin-bottom: .8rem;
//     line-height: 1.3;
// }
// @media (max-width: 1366px) {
//     .container {
//         max-width: 95%;
//     }
// }
// @media (max-width: 1200px) {
//     .container {
//         max-width: 100%;
//     }
// }
// @media (min-width: 1200px) {
//     .h2, h2 {
//         font-size: 2.4rem;
//     }
// }

// .userenter-container {
//     display: flex;
//     justify-content: space-between;
//     align-content: stretch;
//     height: 100vh;
//     background-color: #f3f8fe;
//     min-height: 770px;
// }
// .userenter-col-right {
//     flex: 0 0 40%;
//     max-width: 40%;
//     // background-image: url('../img/images/userentry-bg.jpg');
//     background-repeat: no-repeat;
//     background-position: left top;
//     background-size: 100% auto;
//     background-color: #e7ecf2;
// }
// .userenter-inner-wrap {
//     display: flex;
//     position: relative;
//     flex-direction: column;
//     align-content: center;
//     justify-content: center;
//     height: 100%;
//     text-align: center;
//     width: calc(100% - 25px);
//     margin: 0 auto;
// }
// .userenter-body {
//     position: relative;
//     z-index: 2;
// }
// .userenter-body h1 {
//     font-size: 2.5rem;
//     margin-top: 50px;
// }
// .userenter-body h1 span {
//     font-weight: bold;
// }
// .userenter-inner-wrap .brand-logo {
//     position: absolute;
//     top: 1rem;
//     font-weight: bold;
//     text-align: center;
//     width: 100%;
//     font-size: 2rem;
// }
// .userenter-inner-wrap .brand-logo a {
//     display: inline-block;
//     text-decoration: none;
// }
// .userenter-col-left{
//     flex: 0 0 60%;
//     max-width: 60%;
//     position: relative;
// }
// .tutor--signup_banner {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     justify-content: center;
//     overflow: hidden;
//     display: flex;
//     align-items: center;
// }
// .tutor--signup_banner img {
//     height: 100%;
//     width: auto;
//     position: absolute;
//     right:0;
//     top: 0;
// }
// .signup-nav {
//     margin-bottom: 1.2rem;
// }
// .signup-nav .nav {
//     justify-content: center;
//     display: inline-flex;
//     border: solid 1px #ddd;
//     position: relative;
//     background-color: rgb(255 255 255 / 50%);
// }
// .signup--form {
//     max-width: 450px;
//     margin: 0 auto;
//     font-size: .9rem;
// }
// .signup--form p {
//     font-size: .95rem;
//     margin-bottom: 8px;
// }
// .social-entry_wrap {
//     margin-top: 20px;
// }
// .social-btns {
//     display: inline-flex;
//     align-items: center;
//     justify-content: space-between;
// }
// .social-btns .dvdr {
//     height: 30px;
//     width: 1px;
//     background-color: #000;
//     opacity: .3;
//     margin: 0 15px;
// }
// .signup-nav .nav-pills .nav-link {
//     display: block;
//     padding: .8rem 2.5rem;
//     min-width: 220px;
//     color: #686F74;
//     font-weight: bold;
// }
// .signup-nav .nav-pills .nav-link.active {
//     color: #fff;
//     background-color: #1492E6;
// }
// .view-password {
//     position: absolute;
//     right: 23px;
//     top: 13px;
//     z-index: 1;
//     opacity: .45;
//     transition: all ease .3s;
// }
// .view-password.active {
//     opacity: 1;
// }
// .view-password img {
//     width: 23px;
// }
// .signup--form .password-strenth {
//     margin-top: 8px;
//     font-size: .8rem;
//     color: #686F74;
//     text-align: left;
// }
// .signup--form .password-strenth .progress {
//     height: .5rem;
//     background-color: white;
// }
// .signupagree {
//     font-size: .8rem;
//     margin-top: 20px;
// }
// .haveaccount {
//     font-size: 1rem;
//     margin-top: 20px;    
// }
// .input-icn {
//     position: absolute;
//     left: 28px;
//     top: 12px;
// }
// .login_form .form-control {
//     padding-left: 60px;
// }
// .userenter__footer {
//     position: absolute;
//     bottom: 0;
//     // background-image: url(../images/svg/login-ftr-bg.svg);
//     background-size: 100% auto;
//     background-position: bottom;
//     min-height: 261px;
//     z-index: 1;
//     left: 0;
//     background-repeat: no-repeat;
//     width: calc(100% + 25px);
//     margin-left: -13px;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: flex-start;
//     padding: 0 0 20px 48px;
//     color: #fff;
// }
// .userenter__footer h3 {
//     font-size: 1.4rem;
// }
// .userenter__footer h3 span {
//     font-weight: bold;
// }
// .btn-register {
//     border-color: #fff;
//     color: #fff;
//     padding-left: 2rem;
//     padding-right: 2rem;
//     margin-right: 20px;
// }
// .btn-register:hover {
//     background-color: #fff;
//     color: #181C2B;
// }
// .with--footer {
//     margin-bottom: 6rem;
// }
// .forgotpasswrd {
//     text-align: right;
// }


// @media (max-width: 1500px) {
//     .userenter-col-right {
//         flex: 0 0 45%;
//         max-width: 45%;
//     }
//     .userenter-col-left {
//         flex: 0 0 55%;
//         max-width: 55%;
//     }        
//     .signup-nav .nav-pills .nav-link {
//         padding: .8rem 2rem;
//         min-width: 200px;
//     }
//     .userenter__footer {
//         background-size: 120% auto;
//     }
// }
// @media (max-width: 1366px) {
//     .userenter__footer {
//         background-size: 107% auto; 
//         padding: 0 0 20px 17px;
//     }
//     .tutor--signup_banner img {
//         right: -26%;
//     }
//     .allcategries-bg {
//         width: 99%;
//     }
//     .tutor-card-col {
//         padding: 1.2rem;
//     } 
//     .signup-nav .nav-pills .nav-link {
//         padding: .8rem 2rem;
//         min-width: 180px;
//     }
// }
// @media (max-height: 771px) {
//     .userenter-container {
//         min-height: 770px;        
//     }
//     .userenter__footer {
//         background-position: center 35px;
//     }
// }
// @media (max-width: 1199px) {    
//     .userenter__footer {
//         background-size: 166% auto; 
//         padding: 0 0 20px 17px;
//         background-position: -62px 37px;
//     }    
//     .btn-register {
//         padding-left: 1rem;
//         padding-right: 1rem;
//         margin-right: 10px;
//         font-size: .9rem;
//     }
//     .tutor--signup_banner img {
//         right: -50%;
//     }
//     .signup-nav .nav-pills .nav-link {
//         padding: 0.5rem 1.6rem;
//         min-width: 152px;
//     }
//     .haveaccount {
//         margin-top: 8px;
//     }
//     .signupagree {
//         font-size: .7rem;
//         margin-top: 10px;
//     }
//     .signup--form .g-3 {
//         --bs-gutter-y: .7rem;
//         --bs-gutter-x: .3rem;
//     }
//     .userenter-inner-wrap .brand-logo {
//         top: 1rem;
//     }    
//     .signup--form {
//         max-width: 400px;
//         margin: 0 auto;
//     }  
//     .userenter__footer h3 {
//         font-size: 1.2rem;
//     }
// }
// @media only screen and (max-width: 1200px) and (orientation: landscape) {
//   .userenter__footer {
//         background-size: 156% auto;
//         padding: 0 0 20px 17px;
//         background-position: -43px 44px;
//     }
// }
// @media only screen and (max-width: 1200px) and (orientation: portrait) {
//   .userenter__footer {
//         background-size: 150% auto;
//         padding: 0 0 20px 84px;
//         background-position: -36px 34px;
//     }
// }
// @media (max-width: 991px) {  
//     .haveaccount {
//         margin-top: 15px;
//     }
//     .btn-group-lg>.btn, .btn-lg {
//         padding: .4rem 1rem;
//         font-size: 1rem;
//     }
//     .subscribe-wrap {
//         margin-top: 0;    
//     }
//     .site-header .navbar-light .navbar-toggler:focus {
//         outline: none;
//         box-shadow: none;
//     }
//     .userenter__footer {
//         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2687dc+0,3cc0fb+100 */
//         background: #2687dc; /* Old browsers */
//         background: -moz-linear-gradient(left,  #2687dc 0%, #3CC0FB 100%); /* FF3.6-15 */
//         background: -webkit-linear-gradient(left,  #2687dc 0%,#3CC0FB 100%); /* Chrome10-25,Safari5.1-6 */
//         background: linear-gradient(to right,  #2687dc 0%,#3CC0FB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2687dc', endColorstr='#3CC0FB',GradientType=1 ); /* IE6-9 */
//         min-height: 138px;
//         align-items: center;
//         padding-left: 0;
//     }
//     .userenter__footer .d-flex {
//         justify-content: center;
//     }
//     .signup--form .form-control-lg {
//         min-height: calc(1.5em + 1rem + 2px);
//         font-size: .9rem;
//     }    
//     .input-icn {
//         left: 21px;
//         top: 11px;
//         width: .89rem;
//     }
//     .view-password {
//         right: 15px;
//         top: 9px;
//     }
//     .userenter-container {
//         height: 100%;    
//     }  
//     .userenter-col-right {
//         flex: 0 0 100%;
//         max-width: 100%;
//     }
//     .userenter-col-left {
//         display: none;
//     }
//     html, body {
//         height: 100%;
//     }
// }
// @media (max-width: 767px) {
//     .userenter-col-left {
//         display: none;
//     }
//     .userenter-col-right {
//         flex: 0 0 100%;
//         max-width: 100%;
//     }
//     .htw-tutor-col {
//         padding-right: 0;
//         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2687dc+0,3cc0fb+100 */
//         background: #2687dc; /* Old browsers */
//         background: -moz-linear-gradient(left,  #2687dc 0%, #3CC0FB 100%); /* FF3.6-15 */
//         background: -webkit-linear-gradient(left,  #2687dc 0%,#3CC0FB 100%); /* Chrome10-25,Safari5.1-6 */
//         background: linear-gradient(to right,  #2687dc 0%,#3CC0FB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2687dc', endColorstr='#3CC0FB',GradientType=1 ); /* IE6-9 */
//         padding-top: 31px;
//         padding-bottom: 33px;
//         margin-bottom: 30px;
//         border-radius: 20px 20px 0 0;
//     }
//     .getstarted-section, .contactus-section {
//         text-align: center;    
//     }
//     .getstarted-section h3, .contactus-section h3 {
//         margin-bottom: 22px;
//         font-size: 1.2rem;
//     }
//     .tutor-card-col:nth-child(2), .tutor-card-col:nth-child(5), .tutor-card-col:nth-child(7) {
//         transform: translateY(0);
//     }
//     .tutor-card-col:nth-child(3), .tutor-card-col:nth-child(6) {
//         transform: translateY(0);
//     }
//     .explore-btn {
//         margin-top: 30px;
//     }
// }

