<!-- <app-header></app-header> -->
<section id="ErrorPage">
  <div class="container">
      <div class="row justify-content-md-center">
          <div class="col py-5 mt-5 col-sm-7 text-center">
              <h1><span class="shadow shadow1">shadow</span><span class="error">404</span><br><span class="shadow shadow2">shadow</span> <span class="error-txt">Oops, This Page Not Be Found !</span></h1>
              <p class="mb-4 mt-4">We are really sorry but the page you're looking for does not exist :(.</p>
               <!-- <form [formGroup]="searchForm" (submit)="onSubmit()">
              <div class="row">
                  <div class="col-sm-12">
                      <label class="sr-only" for="search-bar">Username</label>
                      <div class="input-group">
                          <input
                            [(ngModel)]="asyncSelected"
                            container="body"
                            [typeaheadAsync]="true"
                            [typeahead]="dataSource"
                            (typeaheadNoResults)="typeaheadNoResults($event)"
                            [adaptivePosition]="true"
                            [isAnimated]="false"
                            (typeaheadLoading)="changeTypeaheadLoading($event)"
                            (typeaheadOnSelect)="typeaheadOnSelect($event)"
                            [typeaheadOptionsLimit]="7"
                            typeaheadOptionField="name"
                            formControlName="tutor"
                            class="form-control"
                            type="text"
                            placeholder="Enter a subject"
                            type="text"  
                            id="search-bar">
                          <div class="input-group-prepend">
                              <div class="input-group-text"><button type="submit" class="btn">Search</button></div>
                          </div>
                      </div>
                    <div *ngIf="searchSubmitted && renderErrors.tutor.errors" class="has-error mb-2 mt-1 float-left">
                        <div *ngIf="renderErrors.tutor.errors.required">Search key required.</div>
                        <div *ngIf="renderErrors.tutor.errors.minlength">Search key must be 2 character
                            long.</div>
                    </div>
                    <div class="alert alert-danger" *ngIf="noResult">No Results Found</div>
                  </div>
              </div>
              </form> -->
              <!-- <p class="small mt-4">To report link, please drop us an email <a href="mailto:sales@scholarbees.in" class="link_yellow">sales@scholarbees.in</a> or click <a href="#">here</a> to return to the home page</p> -->
          </div>
      </div>
  </div>
</section>
<!-- <app-footer></app-footer> -->

