//## For each of Bootstrap's buttons, define text, background and border color.


$body-text-color: #181C2B;
$white-color: #ffffff;
$grey-color: #f1f1f1;
$grey2-color: #f9fbfd;
$grey3-color: #fafafe;
$transparent-bg : transparent;
$black-color : #1a2035;
$black2-color : #1f283e;
$primary-color : #1492E6;
$primary2-color : #0071bc;
$secondary-color : #6861CE;
$secondary2-color : #5C55BF;
$info-color : #48ABF7;
$info2-color : #3697E1;
$success-color : #25CF2A;
$success2-color : #25c82a ;
$warning-color : #FFAD46;
$warning2-color : #FF9E27;
$danger-color : #F25961;
$danger2-color : #EA4d56;
$input-color : #939EA8;
$red-color : #FA5A5D;
$red-dark-color : #eb393c;
$yellow-color : #FABF5A;
$yellow2-color : #FABF5A;
$orange-color : #F3A228;
$orange2-color : #F3A228;

// Font Weight
$font-weight-light : 300;
$font-weight-normal : 400;
$font-weight-medium : 500;
$font-weight-bold : 600;
$font-weight-extrabold : 700;
$font-quicksand : 'Quicksand', sans-serif;