<section class="contactus-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md">
				<h3 class="font-weight-bold">Got questions? Get in touch with ViTutors</h3>
			</div>

			<div class="col-md-auto"><a class="btn btn-bordered btn-rounded btn-lg" [href]="variables.contactUsLink" target="_blank">Contact Us</a>
			</div>
		</div>
	</div>
</section>	
<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<h5>Company</h5>
				<ul class="ftr-points">
					<li><a [href]="variables.aboutLink" target="_blank">About Us</a></li>
					<li><a [href]="variables.hiwLink" target="_blank">How it Works</a></li>
					<li><a [href]="variables.blogLink" target="_blank">Blog</a></li>
					<li><a [href]="variables.contactUsLink" target="_blank">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<h5>Learn More</h5>
				<ul class="ftr-points">
					<li><a [href]="variables.faqLink" target="_blank">FAQs</a></li>
					<li><a [href]="variables.privacyLink" target="_blank">Privacy Policy</a></li>
					<li><a [href]="variables.termsLink" target="_blank">Term &amp; Conditions</a></li>
                    <li><a [href]="variables.sitemapLink" target="_blank">Sitemap</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<h5>Popular Subjects</h5>
				<ul class="ftr-points">
					<li><a [href]="variables.mathLink" target="_blank">Maths</a></li>
					<li><a [href]="variables.scienceLink" target="_blank">Science</a></li>
					<li><a [href]="variables.englishLink" target="_blank">English</a></li>
					<!-- <li><a [href]="">Economics</a></li> -->
					<li><a [href]="variables.languageLink" target="_blank">Language</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-12 col-sm-6">
				<div class="row">
					<div class="col-lg-12 col-md-6 col-sm-12">
					  <h5>LET’S KEEP IN TOUCH</h5>
						<div class="social-btns">
							<a (click)="facebook()"><img src="assets/img/images/facebook-icn.svg"></a>
							<a (click)="instagram()"><img src="assets/img/images/instagram-icn.svg"></a>
							<a (click)="twitter()"><img src="assets/img/images/twitter-icn.svg"></a>
							<a (click)="youtube()"><img src="assets/img/images/youtube-icn.svg"></a>
							<a (click)="likndIn()"><img src="assets/img/images/linkedin-icn.svg"></a>
						</div>
					</div>
					<div class="col-lg-12 col-md-6 col-sm-12 subscribe-wrap">
						<h5>Subscribe for Newsletter</h5>
						<div class="input-group subscribe-input">
							<input type="email" class="form-control" #email placeholder="Enter Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2" (keyup)="validMail($event.target.value)">
                            <small class="text-danger" *ngIf="!isValidEmail">*Please enter valid mail</small>
							<button class="btn subscribe-btn" id="basic-addon2" (click)="subcriptionMail(email)" [disabled]="!isValidEmail"><img src="assets/img/images/arrow-right-white.svg"></button>
						</div>
					</div>                            
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12">
				<small class="footer-reg text-center text-muted">© VITUTORS   2020-2021</small>
			</div>
		</div>
	</div>
</footer>